.fly-badge{
    margin-top: -24px;
    float: left;
}
.control-group > .radio{
    margin-right: 18px;
}
.control-group{
    margin-bottom: 9px;
}
.input-group{
    margin-bottom: 2px;
}
.well{
    padding:5px;
    margin-bottom: 8px;
}
.alert{
    margin-bottom: 8px;
    padding:15px 8px 8px 15px;
}
.search-div{
    margin-bottom: 10px;
}
.search-div > div{
    padding:0;
}
.search-div > .function-div{
    padding-left: 10px;
}

.ui-jqgrid-ftable{
	    border: 1px solid grey;
}